<div class="jumbotron" style="background: url(images/logo.png); background-size: 100% 100%;">
  <p class="text-right">

    <a id="login" class="btn btn-primary" href="/login"><img src="images/doors.png" width="25px"/>Prisijungti</a>
  </p>
</div>
